head, body {
    --blue: #1a0fbc;
    --white: rgb(255, 255, 255);
    text-align: center;
}

#logo {
    margin-left: 4px;
    white-space: nowrap;
    float: left;
}

#title {
    white-space: nowrap;
    text-align: center;
    padding-top: 4px;
    font-size: 85px;
}

nav {
    background-color: var(--blue);
    width: 100%;
}

.hide {
    display: none;
}

.carousel {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#blbb-graphic {
    width: 100%;
    z-index: -100;
}

.tab {
    padding-top: 10px;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 1.1em;
}

#header-bottom {
    z-index: 10;
    background-color: var(--white);
}

.social-icon {
    width: 50px;
    padding-bottom: 10px;
}

#about-description {
    margin-left: 120px;
    margin-right: 120px;
}

#card {
    width: 18rem;
    height: 24rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

table {
    margin-left: 120px;
    margin-right: 120px;
}

td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}